// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 400px;
	background: url("http://i.imgur.com/8EfBsJC.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(40px);
}
