// ==========================================================================
// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 400px;
	background: url("http://i.imgur.com/kW7hJlK.jpg"), linear-gradient(#336699, #77cae9);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(40px);
}
